<!-- templates/main/dashboard.html -->
{% extends './partials/layout1.html' %}
{% include "./partials/flash_alerts.html" %}
{% block content %}
<script src="/static/js/apexcharts.js"></script>
<script src="/static/js/charts/general.js"></script>
<script src="/static/js/charts/waterfall.js"></script>
<script src="/static/js/data_table.js"></script>
<script src="/static/js/loader.js"></script>
<script src="/static/js/dynamic_table_init.js"></script>
<script src="/static/js/format_functions.js"></script>
<div id="main" class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">

</div>
{% endblock content %}