<footer class="py-7 px-3 text-center">
    <p class="font-semibold inline-flex items-center justify-center space-x-2">
        <span>Monitor Financiero by</span>
        <a href="https://www.snappsolutions.com" target="_blank" rel="noopener noreferrer" class="inline-flex items-center">
            <img src="/static/images/logo-light.png" alt="Snapp Logo Dark" class="h-8 dark:hidden">
            <img src="/static/images/logo-dark.png" alt="Snapp Logo Light" class="h-8 hidden dark:block">
        </a>
    </p>
</footer>