<!-- templates/dynamic_table.html -->

{% extends './partials/layout1.html' %}
{% include "./partials/flash_alerts.html" %}

{% block content %}
{% include "./partials/alerts.html" %}
<!-- Breadcrumb -->
{% include 'partials/table/breadcrumbs.html' %}
<!-- Elemento oculto para pasar datos al JS: nombre de tabla y columnas -->
{% if reporte %}
    <div id="table-data" data-table="/reportes/{{ table_name }}/datos" data-columns='{{ columns|tojson }}'></div>
{% else %}
    <div id="table-data" data-table="/dynamic/{{ table_name }}/datos" data-columns='{{ columns|tojson }}'></div>
{% endif %}

<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
    <div class="grid grid-cols-1 gap-5">
        {% if tabs_exist %}
            {% include 'partials/table/tabs/' ~ table_name ~ '.html' %}
        {% else %}
            <!-- Optionally, display something else or do nothing -->
        {% endif %}
        <div id="view_test" class="sticky top-0 bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
            <div class="overflow-auto space-y-4" x-data="tabla" x-init="initData(); initDatePicker(); $watch('searchInput', value => { search(value) })">
                    {% include 'partials/table/table_title.html' %}
                <div class="overflow-auto" style="max-height: 35rem;">
                    <table class="w-full table-hover">
                            {% include 'partials/table/table_head.html' %}
                        <tbody>
                            <!-- Se recorre la lista de registros obtenidos dinámicamente -->
                            <template x-for="(record, index) in items" :key="index">
                                <tr class="cursor-pointer hover:bg-gray-100" @click="openActions('dynamic/{{ table_name }}', record.id,record.estatus)">
                                    <!-- Se recorre el array de columnas que se pasó desde el servidor -->
                                    <template x-for="(col, i) in columns" :key="i">
                                        <td style="overflow-wrap: break-word; word-break: keep-all; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                                            <span 
                                                x-text="['precio', 'importe', 'monto'].some(keyword => col.includes(keyword)) 
                                                    ? (record[col] ? commafy(record[col]) : '-') 
                                                    : (record[col] ? record[col] : '-')">
                                            </span>
                                        </td>
                                    </template>
                                    {% if table_name=='noticias' %}
                                        {% include 'partials/table/botones/noticias.html' %}
                                    {% endif %}   
                                </tr>
                            </template>
                            <!-- Si no hay registros, se muestra un mensaje -->
                            <tr x-show="isEmpty()">
                                <td :colspan="columns.length" class="text-center text-gray-500">
                                    No se encontraron registros
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                {% include 'partials/table/paginacion.html' %}
            </div>
        </div>
        {% include 'partials/table/modals/dynamic_modal.html' %}
    </div>
</div>
{% include "./partials/loader.html" %}
<!-- Incluir archivos JS centralizados -->
<script src="/static/js/data-search.js"></script>
<script src="/static/js/data_table.js"></script>
<script src="/static/js/loader.js"></script>
<script src="/static/js/dynamic_table_init.js"></script>
<script src="/static/js/format_functions.js"></script>
<script src="/static/js/generar_archivos.js"></script>
<script src="/static/js/descargar_archivo.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>  
{% endblock content %}